.app-header {
    background-color: var(--clr1);
    color: var(--clr1bg);
    padding-block: 1em;
    padding: 1em;

    .indicator {
        color: black;
        padding: 3px;
        border-radius: 4px;
    }

    .student-count{
        margin-right: 5px;
        background-color: var(--clr2bg-light) ;
    }
}

.app-nav {
    display: flex;
    gap: 15px;
}

@media(max-width: 720px) {
    .app-header {
        color: var(--clr2bg);
    }
}