.user-msg {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    font-size: 4em;
    background-color: transparent;
}

// .user-msg.success {
// }

// .user-msg.error {
//     background-color: var(--clr2);
// }

// .user-msg button {
//     font-size: .8em;
//     float: right;
//     margin: .5em;
// }